*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
#top{
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
}
#top #child-1{
  display: flex;
  width: 64%;
  justify-content: space-around;
  align-items: center;
}
#child-1, img{
  width: 25%;
}
#child-1 p{
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
#top #child-2{
  display: flex;
  width: 35%;
  justify-content: space-around;
  align-items: center;
}
#child-2 input{
  border: 1.5px solid rgba(0, 0, 0.5, 1);
  padding: 5px 8px;
  border-radius: 5px;
}
#child-2 span{
  background: #fc2779;
  padding: 7px 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
#bottom {
  width: 100%;
  border: 1px solid #0011;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 14px;
}
#bottom li{
  cursor: pointer;
}
/* .carousel img{
  margin-top: 8rem;
} */